*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: black;
}

.container{
    background: green;
    width:40px;
    height:40px;
    border-radius: 50%;
    transform-origin: center;
    animation: rotate 2s ease forwards infinite;
    animation-direction: alternate;
}

.circle{
    background: red;
    width:40px;
    height:40px;
    border-radius: 50%;
    position: relative;
}

.circle:nth-child(1){
    left: -100px;
    animation: slideleft 2s ease forwards infinite; 
}

.circle:nth-child(2){
    left: 100px;
    top: -40px;
    animation: slideright 2s ease forwards infinite; 
}

.square{
    background:blue;
    width:40px;
    height:40px;
    border-radius: 50%;
    position: relative;
}

.square:nth-child(3){
    top: -160px;
    animation: slidetop 2s ease forwards infinite; 
}

.square:nth-child(4){
    top: -40px;
    animation: slidebottom 2s ease forwards infinite; 
}

@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes slideleft{
    0%{
        transform: translatex(0px);
    }
    25%{
        transform: translatex(-100px);
    }
    50%{
        transform: translatex(0px);
    }
    100%{
        transform: translatex(0px);
    }
}

@keyframes slideright{
    0%{
        transform: translatex(0px);
    }
    25%{
        transform: translatex(100px);
    }
    50%{
        transform: translatex(0px);
    }
    100%{
        transform: translatex(0px);
    }
}


@keyframes slidetop{
    0%{
        transform: translatey(0px);
    }
    25%{
        transform: translatey(-100px);
    }
    50%{
        transform: translatey(0px);
    }
    100%{
        transform: translatey(0px);
    }
}

@keyframes slidebottom{
    0%{
        transform: translatey(0px);
    }
    25%{
        transform: translatey(100px);
    }
    50%{
        transform: translatey(0px);
    }
    100%{
        transform: translatey(0px);
    }
}


